/********************
	Global Styles
********************/

.container-fluid {
	margin: 0 20%;
	padding: 3%;
	background-color: white;
	box-shadow: 3px 3px 30px 5px rgba(0,0,0,.5);
}

body {
	font-family: "Shadows Into Light", Helvetica, Arial, sans-serif;
	background-color: #333;
	max-width: 1400px;
}

.bg-img {
	position: fixed;
	z-index: -1;
	border-radius: 0;
	width: 100%;
	height: 100%;
}

.row {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Shadows Into Light";
	text-transform: uppercase;
}

img {
	border-radius: 15px;
}

.center {
    text-align: center;
}

.btn-info {
    background: rgb(103,162,222);
}

/***********************
	Top Navigation
***********************/

#top-nav {
	display: none;
	font-family: "Pathway Gothic One", Helvetica, Arial, sans-serif;
	position: fixed;
	z-index: 100;
	background-color: rgb(103,162,222);
        background-color: #FFF;
        background-color: rgb(125,22,17);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
	max-width: 1600px;
	border-bottom: 4px solid black;
}

#top-nav ul {
	display: inline-block;
	list-style-type: none;
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;
}

#top-nav li {
	display: inline-block;
	margin: 0 1% 0 1%;
}

#top-nav a {
	color: rgb(103,162,222);
	color: #FFF;
        padding: 5px;
}

#top-nav a:hover {
	border-bottom: 5px solid rgb(103,162,222);
	text-decoration: none;
}

#home-link a:hover {
    border: 0;
}

#top-nav-logo {
    box-shadow: none;
    width: 150px;
    
    padding-top: 5%;
}

/********************
	Header
********************/

#logo-banner {
	width: 100%;
    margin-top: 0;
    padding: 25%;
    background: url('../images/beer_chair.jpg') no-repeat center;
}

#logo-banner img {
	width: 100%;    
	border-radius: 0px;
}

/********************
	Slogan
********************/

#slogan {
	text-align: center;
	font-family: Open Sans;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 800;
}

#slogan p {
	padding: 0;
	margin: 0;
}

/********************
  Aside: info boxes
********************/

.info-box {
	padding: 5%;
	font-size: 1.2em;
}

.info-box h3 {
	text-align: center;
}

.info-box img {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.info-box p {
	padding: 5%;
}

/********************
   Main Content divs
********************/

.content-div {
	line-height: 2.5em;
	padding: 5%;
        margin-top: 25px;
}

.content-div h2 {
	text-align: center;
	font-size: 5em;
        color: rgb(103,162,222);
	padding-bottom: 5%;
}

.content-img {
	margin: 5%;
	width: 90%;
}

.content-div p {
	font-size: 1.2em;
	padding: 5%;
	text-indent: 2em;
}

/********************
	Beers
********************/

.beer-info {
	font-size: 1.2em;
	padding: 0 5% 5% 5%;
}

.beer-info h3 {
	font-size: 1.75em;
}

.beer-info ul {
	padding: 15px;
}

.beer-info img {
	max-width: 225px;
}

/********************
	Contact
********************/
#contact-div p {
    text-indent: 0;
    text-align: center;   
}

.contact-header {
    font-family: Pathway Gothic One;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

#social-links img {
    width: 15%;
    box-shadow: none;
    border: 2px solid #FFF;
}

#social-links img:hover {
    border: 2px solid rgb(103,162,222);
}

iframe {
    width: 100%;
    min-height: 300px;
}

/********************
    Small Devices
********************/

@media (max-width: 768px) {
    .container-fluid {
        margin: 0;
    }
    
    #top-nav{
        font-size: 1.1em;
        
    }
    
    #top-nav ul {
        margin: 0;
    }
    
    #top-nav li {
        margin: 3% 3% 3% 0;
    }
}